.page {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    background-color: #f6ffaa;
}

.recipe {
    font-size: 16px;
}

.heading {
    color: hsl(9, 100%, 69%);
    text-align: center;
    font-family: Brush Script MT ,cursive;
    width: 500px;
    margin: 100px auto 32px;
    border: 7px dotted rgb(255, 111, 109);
    padding: 8px 300px;
    background-color: rgb(255, 240, 166);
}

.recipe-head {
    text-align: center;
    color: #F48974;
    font-family: Geneva, Verdana, sans-serif;
}

.pic { 
    height: auto;
    width: 250px;
}

.recipe-head.subhead {
    text-align: left;
}

.links {
    display: block;
    text-align: center;
    font-weight: 600;
    color: #e0a501;
    border: 8px dashed rgb(255, 111, 109);
    
    padding: 100px 70px;
    width: 960px;
    margin: 90px auto;
    background-color: #fff0a6;
}

.li-1 {
    margin-bottom: 56px;
}

.li-3 {
    margin-top: 56px;
}

.hitbox {
    display: inline-block;
    width: 850px;
    border: 5px double #b7ac76;
    margin: 8px auto;
    background-color: #FFF2CF;
}



.desc,
ul,
ol{
    font-family: Copperplate, Papyrus, fantasy;
    color: rgb(111, 53, 49);
}